{% extends 'post/base.html' %}

{% block header %}
    Восстановление пароля
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid">
            {% for f in form %}
                <div class="row">
                    <p>
                        <small>{{ f.label }}</small>
                        <br>
                        {{ f }}
                    </p>
                    {{ f.errors }}
                </div>
            {% endfor %}

            <p><input class="btn btn-outline-primary btn-sm"
                      type="submit"
                      value="Сбросить по E-mail">
        </div>
    </form>
{% endblock %}